@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap');
@import "@/assets/scss/variables.scss";

* {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

html, body {
  scroll-behavior: smooth;
}

::moz-selection {
  background-color: $accent;
  color: $secondary;
}
::selection {
  background-color: $accent;
  color: $secondary;
}

#app {
  font-family: 'Montserrat', sans-serif;
  background-color: $secondary;
  color: $primary;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  font-family: 'Permanent Marker', sans-serif;
}

h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.permanetMarker {
  font-family: 'Permanent Marker', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.fade-in {
  animation: section-fade-in 0.35s ease;
}

@keyframes section-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

